extends ../../layout

block content
  h1= title
  p Welcome to #{title}

  - var dealerships = data
  
  table
    tr
      th ID
      th Owner
      th Label
      th AddressID
    - each dealer in dealerships
      tr
        td= dealer.ID
        td= dealer.Owner
        td= dealer.Label
        td= dealer.AddressID
